#canvasInput {
    position: absolute;
    display: none;
}

#canvas {
    border: 10px solid black;
    border-style: double;
    /* background: white; */
    background-image: url(img/white.jpg);
    top: 185px;
    left: 100px;
    position: absolute;
}

#title{
    top: 50px;
    left: 110px;
    position: absolute;
}

#title_id{
    top: 32px;
    left: 225px;
    font-size: 40px;
    font-family: 'Comic Sans MS', cursive;
    position: absolute;
}

input{
    margin-right: 20px;
}

#div_bg{
    top: 50px;
    left: 1000px;
    position: absolute;
}

#tool{
    background-repeat: no-repeat;
    background-size: cover;
    top: 120px;
    left: 1070px;
    position: absolute;
}

#tool2{
    top: 420px;
    left: 1060px;
    position: absolute;
}

body{
    background: url(img/bg3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left top;
    background-size: cover;
}

.lab{
    font-family: 'Comic Sans MS', cursive;
    font-size: 16px;
}

input:hover {
    border-radius: 10%;
    bor
    background: #dddddd;
    color: #FFFFFF;
}	
